<!DOCTYPE html>

<html>

<head>
	<title>UNES - Página principal</title>
	<meta charset="utf-8">
</head>

<body background="Imagens/fundo.png">

	<table border="0" width="900" align="center">

		<tr>
			<td height="89"><img src="Imagens/logo.png"></td>
			<td align="right">
				<a href="../templates/index.html">Home</a> |
				<a href="../templates/quem_somos.html">Quem somos</a> |
				<a href="../templates/contato.html">Contato</a>
			</td>
		</tr>

		<tr>
			<td colspan="2">
				<img src="Imagens/capa.png">
			</td>

		</tr>

		<tr>

			<td colspan="2">
				<h2>Sobre a universidade</h2>
				<p>
					Lorem <strong>ipsum dolor</strong> sit <em>amet</em>, consectetur adipiscing elit. Nunc quis
					imperdiet lacus, eget hendrerit risus. Nullam dapibus posuere purus ac gravida. Phasellus sit amet
					fermentum elit. Duis ultrices, est nec pretium aliquet, ante ex viverra mi, eu faucibus magna dolor
					in risus. Donec semper ut quam ut dignissim. Etiam accumsan elementum erat, vitae auctor sapien.
					Nullam pharetra purus eget ullamcorper tincidunt. Vivamus lobortis ornare mattis. Vestibulum nisi
					quam, porttitor vel rhoncus quis, ultricies sed ligula. Quisque finibus pellentesque commodo. In ac
					magna vel ante imperdiet euismod vitae id ipsum. Vivamus ornare sollicitudin tortor, sit amet
					suscipit arcu mattis in. Donec ac lorem et enim faucibus porttitor. Quisque ut tristique est.
					Integer quis dictum augue.
				</p>
				<p>
					Lorem <strong>ipsum dolor</strong> sit <em>amet</em>, consectetur adipiscing elit. Nunc quis
					imperdiet lacus, eget hendrerit risus. Nullam dapibus posuere purus ac gravida. Phasellus sit amet
					fermentum elit. Duis ultrices, est nec pretium aliquet, ante ex viverra mi, eu faucibus magna dolor
					in risus. Donec semper ut quam ut dignissim. Etiam accumsan elementum erat, vitae auctor sapien.
					Nullam pharetra purus eget ullamcorper tincidunt. Vivamus lobortis ornare mattis. Vestibulum nisi
					quam, porttitor vel rhoncus quis, ultricies sed ligula. Quisque finibus pellentesque commodo. In ac
					magna vel ante imperdiet euismod vitae id ipsum. Vivamus ornare sollicitudin tortor, sit amet
					suscipit arcu mattis in. Donec ac lorem et enim faucibus porttitor. Quisque ut tristique est.
					Integer quis dictum augue.
				</p>
			</td>
		</tr>

		<tr>
			<td colspan="2" align="center">
				<h4>Todos os direitos reservados</h4>
			</td>
		</tr>


	</table>



</body>

</html>